.photos {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.photo-item {
  width: 100%; /* Makes the images responsive to the grid size */
  height: auto;
}
