.photos {
  display: flex;
  align-items: center;
  justify-content: center; /* Ensures at least 3 columns */
  gap: 10px; /* Adds space between the grid items */
}

.photo-item img {
  width: 100%; /* Makes the images responsive to the grid size */
  
  height: auto;
}
/* Select the first three images */
/* .photo-item:nth-child(n+4) {
  display: none; 
} */
